---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
import QuotePrimary from './widgets/QuotePrimary.astro';

const getDocs = await Astro.glob(`../content/docs/*.mdx`)
const docs = getDocs.map(n => ({
  title: n.frontmatter.title,
  slug: n.frontmatter.slug,
  Content: n.Content,
}));


---
<!-- {
	docs.map(({ title,slug, Content }) => (
		<h2 class="" id={slug}>{title}</h2>
		<Content class="pt-10" />
	))
 }   -->

<div class="max-w-screen mx-auto px-4 py-8">

 {
	docs.map(({ title,slug, Content }) => (
	<div class="flex box">
    <!-- First Column - Heading -->
    <div class="w-2/6  top-0 h-screen flex  items-start font-primary  panel" id="sticky">
      <h1 class="text-7xl sticky font-bold text-gray-800 uppercase pt-10" id={slug}>{title}</h1>
    </div>
    
    <div class="w-4/6 pl-8">
      <div class="space-y-8">
        <section class="py-12">
         <div class="text-gray-600 text-lg">
			      <Content/>
		    </div>
        </section>
      </div>
    </div>

  </div>
	))
 } 
</div>

<script>
import { gsap } from "gsap";
import ScrollTrigger from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

let boxes = gsap.utils.toArray(".box") as HTMLElement[];

boxes.forEach((box, i) => {
  const slug = box.querySelector('h1')?.id;
  if (slug) {
    const targetElement = document.querySelector(`#${slug}`);
    gsap.to(box, {
      duration: 1,
      scrollTrigger: {
        trigger: box,
        
        start: "40% bottom",
        end: "20% 10%",
        pin: targetElement,
        markers: true
      }
    });
  }
});
</script>
