---
import VideoJS from "../widgets/VideoJS.astro"
import AudioPlayer from "../widgets/AudioPlayer.astro"
import SectionHeading from "../Section-Heading.astro"
const featuredImage = 'https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzRrdWNrbzN2d3ZkODJ5OHl0cDNxbDJ6enF0c3h6Nzc5b2NhODc2ZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sdVWR1Mbb8VsCBKmVa/giphy.gif'
const title = "INDOCTRINATION"
const slug = "INDOCTRINATION"
const intro = ''
---
<script type="module" src="https://cdn.jsdelivr.net/npm/player.style/tailwind-audio/+esm"></script>
<!-- {
	docs.map(({ title,slug, Content }) => (
		<h2 class="" id={slug}>{title}</h2>
		<Content class="pt-10" />
	))
 }   -->

<div class="w-screen mx-auto ">
 <div class="flex box flex-col items-center">
  <SectionHeading {title} {featuredImage}></SectionHeading>


    <section class=" font-secondary max-w-7xl p-10 text-gray-600 text-lg content relative">
          <p>In 2021, Tibet Action Institute released a landmark report that changed the global conversation on Tibet. Titled “Separated from Their Families, Hidden from the World,” it was the first to expose the sheer scale of China’s colonial boarding school system in Tibet—where over 800,000 Tibetan children were being torn from their homes and subjected to forced assimilation. The revelations sent shockwaves across the world, drawing sharp rebukes from international institutions and throwing a global spotlight back on Tibet for the first time in years.</p>
          <p>China responded with panic and propaganda. The government unleashed a sweeping disinformation campaign—staging tightly controlled tours, flooding media with glowing reports, and attempting to erase the truth with polished lies. But the truth is harder to bury.</p>
          <p>This website takes you deeper—beyond policy and statistics—into the heart of what’s happening inside these schools. Through exclusive video footage, survivor testimony, and stark visual evidence, we expose the trauma, the cultural erasure, and the daily reality of children growing up under a system designed to strip them of their Tibetan identity.</p>
          <p>We dismantle China’s propaganda playbook—revealing how the state manipulates global opinion and silences Tibetan voices. And we show you the courage of Tibetans who continue to resist, even under crushing repression.</p>
        
        <p>Two Tibetans explained how at the school in their area, which has both day students from nearby and boarding students from other areas, religious symbols or practice are met with physical punishment:
        </p>
        <AudioPlayer src="media/audio/audio1.m4a" >
          <p>Everything has changed so much. In schools, Tibetan is taught as a language, but only four times a week—one class per day. Everything else is taught in Mandarin, with five to six Mandarin classes each day. And I'm talking about primary schools.
          </p>
          <p>The children are like kids raised in foreign countries. They speak only in Mandarin, and while some still understand their parents communicating in Tibetan, they reply only in Mandarin. Children's primary language is becoming Mandarin, and in their daily conversations, they exclusively use Mandarin. They must stay at school from Monday to Friday. Parents pick up their children on Friday evening and return them to school on Sunday evening.</p>
          <p>The state of the Tibetan language is alarming—the way kids read Tibetan is similar to how Chinese people read Tibetan. Nevertheless, Tibetans are making significant efforts to teach Tibetan to their children. Previously, there was a statue of Thomi Sambota in the school that was demolished, and portraits and posters in Tibetan around the school walls were removed.</p>
          <p>When I last visited, there was a statue of Yuthok Yoten Gompo at the community hospital, but that had also been demolished. Religious symbols or texts such as the Kagyur or Tengyur are not allowed in schools. The school administration often states that "school is for education, not for religious purposes."</p>       
      </AudioPlayer>

      <div class="">
        
      <AudioPlayer src="media/audio/audio3-eng.mp3" >
        <p>The most concerning issue is the current status of our language. It's nothing like it used to be. They no longer recruit new teachers and have significantly reduced the number of existing ones—especially Tibetan language teachers. New recruitment has stopped entirely. Some are made to retire early, while others are kept on staff without any teaching responsibilities.</p>
        <p>I used to feel happy when I visited my hometown, but this time was different—and deeply concerning. The level of sinicization is beyond comprehension. Even in [my hometown], having a basic conversation in Tibetan has become difficult, even for something as simple as hotel services.</p>
      
        <p>Tibetan Audio</p>
        <media-theme-tailwind-audio 
          style="--media-primary-color: #ffa200; --media-secondary-color: #cccccc;"
        style="width:100%">
          <video
            slot="media"
            src="media/audio/audio3-tib.mp3"
            playsinline
            crossorigin="anonymous"
          ></video>
        </media-theme-tailwind-audio>
        <p>English Audio</p>
      </AudioPlayer>
      
      </div>

      <div class="grid  gap-10 grid-cols-2 py-5">
        <VideoJS src="https://tai-web-video.s3.us-east-1.amazonaws.com/preschool-boarding/propaganda-song.mp4"  id=""></VideoJS>
        <VideoJS src="https://tai-web-video.s3.us-east-1.amazonaws.com/preschool-boarding/red-track-suits.mp4"  id=""></VideoJS>
      </div>
    </section>

    <!-- <div class=" w-screen h-80 bg-cover bg-fixed relative bg-red-400" >
      <div class="w-full h-full absolute flex  justify-center bg-neutral-900">
          <div class="w-96 h-54 bg-blue-600"></div>
          <div class="w-96 h-54 bg-white"></div>
          <div class="w-96 h-54 bg-red-700"></div>
          <div class="w-96 h-54 bg-green-700"></div>
          <div class="w-96 h-54 bg-amber-400"></div>
      </div>
    </div> -->
</div>
</div>

<script type="module" src="https://cdn.jsdelivr.net/npm/videojs-video-element/+esm"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/player.style/tailwind-audio/+esm"></script>

<script>
import { gsap } from "gsap";
import ScrollTrigger from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

let boxes = gsap.utils.toArray(".box") as HTMLElement[];

boxes.forEach((box, i) => {
  const slug = box.querySelector('h1')?.id;
  if (slug) {
    const targetElement = document.querySelector(`#${slug}`);
    const heading = box.querySelector('h1');
    // Initial state
    gsap.set(heading, { opacity: 1 });
    // Scroll animation
    gsap.to(heading, {
      opacity: 0.2,
      scrollTrigger: {
        trigger: box,
        start: "top center",
        end: "bottom center",
        scrub: true,
        markers: false,
        pinSpacing:false,
        anticipatePin: 1,
      }
    });

    gsap.to(box, {
      duration: 1,
      scrollTrigger: {
        trigger: box,
        start: "100px 100px",
        end: "50% 10%",
        pin: targetElement,
        markers: true,
        pinSpacing:false,
        anticipatePin: 1,

      }
    });
  }
});

let banners = gsap.utils.toArray(".banner");

banners.forEach((banner) => {
  let heading = banner.querySelector("h1");
  if (heading) {
    gsap.fromTo(
      heading,
      { opacity: 1,
        scale: .5,

       },
      {
        opacity: 0,
        scale: 2,
        scrollTrigger: {
          trigger: banner,
          start: "top center",
          end: "bottom center",
          scrub: true,
          // pin: heading,
          // markers: true, // Uncomment for debugging
        },
      }
    );
  }
});
</script>
