---

import QuotePrimary from '../widgets/QuotePrimary.astro';
import AudioPlayer from '../widgets/AudioPlayer.astro';
const featuredImage = 'https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGJlaHNhM3ZkM2Jjazdyazk1NnR4M2J1MmQ4bG05ZzAycGJ3bG9wcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Cff40zpKacFFDJkLeh/giphy.gif'
const title = "Introduction"
const slug = "introduction"
const intro = 'This website is the interactive extension of our second major report, published on May 28th: “When They Came to Take Our Children": China’s Colonial Boarding Schools and the Future of Tibet.'
---
<!-- {
	docs.map(({ title,slug, Content }) => (
		<h2 class="" id={slug}>{title}</h2>
		<Content class="pt-10" />
	))
 }   -->

<div id="introduction" class="w-screen mx-auto ">
 <div class="flex box flex-col items-center">
    <div class="banner w-screen h-[600px] bg-cover bg-fixed relative"  style=`background-image:url(${featuredImage})`>
      <div class="w-full h-full bg-neutral-900/80 absolute flex  justify-center items-center">
      <h1 class=" text-9xl uppercase font-Helv-Bold text-white  text-center ">{title}</h1>
      <!-- <p class=" w-1/2 font-Helv-Normal absolute text-3xl top-1/2 text-neutral-300">{intro}</p> -->
      </div>
    </div>


    <section class=" font-secondary max-w-7xl p-10 text-gray-600 text-lg content relative">

          <p>
            In 2021, Tibet Action Institute released a landmark report that changed the global conversation on Tibet. Titled “Separated from Their Families, Hidden from the World,” it was the first to expose the sheer scale of China’s colonial boarding school system in Tibet—where over 800,000 Tibetan children were being torn from their homes and subjected to forced assimilation. The revelations sent shockwaves across the world, drawing sharp rebukes from international institutions and throwing a global spotlight back on Tibet for the first time in years.
          </p>
        <AudioPlayer src="media/what-we-started(Original-Mix)-Don-Diablo.mp3">
          I [work] in a boarding school, and so I know that most teachers take out their stress on students. If they don’t do their job right and are reprimanded, they take it out on their students. Students are almost treated like birds in a cage, and parents do not have a way to intervene effectively. I know of many examples of teachers beating children, and also of bullying in school.
        </AudioPlayer>
        
        <AudioPlayer src="media/what-we-started(Original-Mix)-Don-Diablo.mp3">
          Students are restricted from wearing any religious/prayer threads around their necks and wrists and chanting Tibetan prayers. If the students are found chanting prayers and wearing any religious/prayer threads, they are beaten by the teacher
        </AudioPlayer>
       
    </section>

    <!-- <div class=" w-screen h-80 bg-cover bg-fixed relative bg-red-400" >
      <div class="w-full h-full absolute flex  justify-center bg-neutral-900">
          <div class="w-96 h-54 bg-blue-600"></div>
          <div class="w-96 h-54 bg-white"></div>
          <div class="w-96 h-54 bg-red-700"></div>
          <div class="w-96 h-54 bg-green-700"></div>
          <div class="w-96 h-54 bg-amber-400"></div>
      </div>
    </div> -->
</div>
</div>



<script>
import { gsap } from "gsap";
import ScrollTrigger from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

let boxes = gsap.utils.toArray(".box") as HTMLElement[];

boxes.forEach((box, i) => {
  const slug = box.querySelector('h1')?.id;
  if (slug) {
    const targetElement = document.querySelector(`#${slug}`);
    const heading = box.querySelector('h1');
    // Initial state
    gsap.set(heading, { opacity: 1 });
    // Scroll animation
    gsap.to(heading, {
      opacity: 0.2,
      scrollTrigger: {
        trigger: box,
        start: "top center",
        end: "bottom center",
        scrub: true,
        markers: false,
        pinSpacing:false,
        anticipatePin: 1,
      }
    });

    gsap.to(box, {
      duration: 1,
      scrollTrigger: {
        trigger: box,
        start: "100px 100px",
        end: "50% 10%",
        pin: targetElement,
        markers: true,
        pinSpacing:false,
        anticipatePin: 1,

      }
    });
  }
});

let banners = gsap.utils.toArray(".banner");

banners.forEach((banner) => {
  let heading = banner.querySelector("h1");
  if (heading) {
    gsap.fromTo(
      heading,
      { opacity: 1,
        scale: .5,

       },
      {
        opacity: 0,
        scale: 2,
        scrollTrigger: {
          trigger: banner,
          start: "top center",
          end: "bottom center",
          scrub: true,
          // pin: heading,
          // markers: true, // Uncomment for debugging
        },
      }
    );
  }
});
</script>
