---

const featuredImage = 'https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExaGJlaHNhM3ZkM2Jjazdyazk1NnR4M2J1MmQ4bG05ZzAycGJ3bG9wcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Cff40zpKacFFDJkLeh/giphy.gif'
const title = "Myth VS Reality"
const slug = "myth-vs-reality"
const intro = ''
import VideoJS from '../widgets/VideoJS.astro';
import AudioPlayer from '../widgets/AudioPlayer.astro';
import SectionHeading from '../Section-Heading.astro';
---
<!-- {
	docs.map(({ title,slug, Content }) => (
		<h2 class="" id={slug}>{title}</h2>
		<Content class="pt-10" />
	))
 }   -->

<div id="introduction" class="w-screen mx-auto ">
 <div class="flex box flex-col items-center">
  <SectionHeading {title} {featuredImage}></SectionHeading>


    <section class=" font-secondary max-w-7xl p-10 text-gray-600 text-lg content relative grid grid-col-1 md:grid-cols-2 gap-3">

        <div class="p-4 shadow-sm shadow-neutral-300 rounded-md">
            <h2 class="font-Helv-Bold pb-2">Tibetans call out Latvian propagandist working to cover China's Colonial Boarding Schools</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/acZRsIGoCbE?si=JSEidDAsfbTAJhiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="py-2">
                <span><span class="text-red-700 font-bold">Myth:</span> China is open to independent reporters to freely visit schools</span>
                <span><span class="text-green-700 font-bold">Reality:</span> China only hires propagandists to do their bidding</span>
            </div>
        </div>

        <div class="p-4 shadow-sm shadow-neutral-300 rounded-md">
            <h2 class="font-Helv-Bold pb-2">China is transforming Tibetan children into Chinese citizens loyal to the Chinese Communist Party.</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9ziPlzSWYYE?si=I49bPjoTn4WdAvc9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="py-2">
                <span><span class="text-red-700 font-bold">Myth:</span> China respects Tibetan culture and languages</span><br>
                <span><span class="text-green-700 font-bold">Reality:</span> China is indoctrinating Tibetan children with a heavily politicised curriculum</span>
            </div>
        </div>

        <div class="p-4 shadow-sm shadow-neutral-300 rounded-md">
          <h2 class="font-Helv-Bold pb-2">China Says Tibetan Children Enjoy Excellent Facilities</h2>
          <img src="media/children-bed.png" alt="children bed" class="w-full">
         
          <div class="py-2">
              <span><span class="text-red-700 font-bold">Myth: </span>China says Tibetan children enjoy the best facilities</span><br>
              <span><span class="text-green-700 font-bold">Reality:</span> These children have to sleep in filthy bunk beds and live in an unsanitary and hazardous environment</span>
          </div>
      </div>

        <div class="p-4 shadow-sm shadow-neutral-300 rounded-md">
            <h2 class="font-Helv-Bold pb-2">China Says Tibetan Children Are Happy in State Boarding Schools</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YOYWtZphARU?si=IKnN6jXucMrXmsPx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <div class="py-2">
                <span><span class="text-red-700 font-bold">Myth: </span>China says Tibetans are happy in colonial boarding schools</span><br>
                <span><span class="text-green-700 font-bold">Reality:</span> Tibetan children are unhappy separated from their families and culture</span>
            </div>
            
        </div>
         

        
        <div class="p-4 shadow-sm shadow-neutral-300 rounded-md">
          <h2 class="font-Helv-Bold pb-2">China Claims: Tibetan kids must study Math and science in Chinese</h2>
          <VideoJS class="" src="https://tai-web-video.s3.us-east-1.amazonaws.com/preschool-boarding/China-claims-Tibetan-Students-have-to-study-math-and-science"  id=""></VideoJS>

          <div class="py-2">
              <span><span class="text-red-700 font-bold">Myth: </span>China says Tibetan children enjoy the best facilities</span><br>
              <span><span class="text-green-700 font-bold">Reality:</span> These children have to sleep in filthy bunk beds and live in an unsanitary and hazardous environment</span>
          </div>
      </div>
       
    </section>


    <section class="font-secondary  p-10 text-gray-600 text-lg content relative ">
      <AudioPlayer src="media/what-we-started(Original-Mix)-Don-Diablo.mp3">
            <p>Everything has changed so much. In schools, Tibetan is taught as a language, but only four times a week—one class per day. Everything else is taught in Mandarin, with five to six Mandarin classes each day. And I’m talking about primary schools.
            </p>
            <p>The children are like kids raised in foreign countries. They speak only in Mandarin, and while some still understand their parents communicating in Tibetan, they reply only in Mandarin. Children's primary language is becoming Mandarin, and in their daily conversations, they exclusively use Mandarin. They must stay at school from Monday to Friday. Parents pick up their children on Friday evening and return them to school on Sunday evening.</p>
            <p>The state of the Tibetan language is alarming—the way kids read Tibetan is similar to how Chinese people read Tibetan. Nevertheless, Tibetans are making significant efforts to teach Tibetan to their children. Previously, there was a statue of Thomi Sambota in the school that was demolished, and portraits and posters in Tibetan around the school walls were removed.</p>
            <p>When I last visited, there was a statue of Yuthok Yoten Gompo at the community hospital, but that had also been demolished. Religious symbols or texts such as the Kagyur or Tengyur are not allowed in schools. The school administration often states that "school is for education, not for religious purposes."</p>
          </AudioPlayer>
        
        <AudioPlayer src="media/what-we-started(Original-Mix)-Don-Diablo.mp3">
           <p>Regarding young monks, our monastery has a monastic school where students are taught the standard curriculum, including subjects like math and science. However, monks below the age of 12 or 13 are forced to attend district boarding schools. Tragically, two young monks from our monastery committed suicide after being forcibly taken to one of these schools.</p>
          <p>Some young monks who are currently in school continue to wear their monastic robes, it seems because of repeated appeals from parents at various levels. Although, in the past there were notices forbidding them to visit their monasteries, yet they could still visit their monasteries. But, recently, they are completely banned to visit their monastery. Even, during school vacations, the monasteries even assign tutors to teach them subjects like Tibetan grammar and Sakya Lekshey. However, this was recently declared illegal, and those involved were summoned for interrogation and detained for one or two days in [the main city].</p>
          <p>Students are also not allowed to visit monasteries, though many still do. For government officials, however, visiting a monastery is nearly impossible. Every monastery is under strict surveillance by a Monastic Management Committee, and there are CCTV cameras installed in every corner. The monitoring is constant and very strict.</p>  
        </AudioPlayer>
        
        <AudioPlayer src="media/what-we-started(Original-Mix)-Don-Diablo.mp3">
          <p>The most concerning issue is the current status of our language. It’s nothing like it used to be. They no longer recruit new teachers and have significantly reduced the number of existing ones—especially Tibetan language teachers. New recruitment has stopped entirely. Some are made to retire early, while others are kept on staff without any teaching responsibilities.</p>
          <p>I used to feel happy when I visited my hometown, but this time was different—and deeply concerning. The level of sinicization is beyond comprehension. Even in [my hometown], having a basic conversation in Tibetan has become difficult, even for something as simple as hotel services.</p>
        </AudioPlayer>
    </section>

    <!-- <div class=" w-screen h-80 bg-cover bg-fixed relative bg-red-400" >
      <div class="w-full h-full absolute flex  justify-center bg-neutral-900">
          <div class="w-96 h-54 bg-blue-600"></div>
          <div class="w-96 h-54 bg-white"></div>
          <div class="w-96 h-54 bg-red-700"></div>
          <div class="w-96 h-54 bg-green-700"></div>
          <div class="w-96 h-54 bg-amber-400"></div>
      </div>
    </div> -->
</div>
</div>



<script>
import { gsap } from "gsap";
import ScrollTrigger from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

let boxes = gsap.utils.toArray(".box") as HTMLElement[];

boxes.forEach((box, i) => {
  const slug = box.querySelector('h1')?.id;
  if (slug) {
    const targetElement = document.querySelector(`#${slug}`);
    const heading = box.querySelector('h1');
    // Initial state
    gsap.set(heading, { opacity: 1 });
    // Scroll animation
    gsap.to(heading, {
      opacity: 0.2,
      scrollTrigger: {
        trigger: box,
        start: "top center",
        end: "bottom center",
        scrub: true,
        markers: false,
        pinSpacing:false,
        anticipatePin: 1,
      }
    });

    gsap.to(box, {
      duration: 1,
      scrollTrigger: {
        trigger: box,
        start: "100px 100px",
        end: "50% 10%",
        pin: targetElement,
        markers: true,
        pinSpacing:false,
        anticipatePin: 1,

      }
    });
  }
});

let banners = gsap.utils.toArray(".banner");

banners.forEach((banner) => {
  let heading = banner.querySelector("h1");
  if (heading) {
    gsap.fromTo(
      heading,
      { opacity: 1,
        scale: .5,

       },
      {
        opacity: 0,
        scale: 2,
        scrollTrigger: {
          trigger: banner,
          start: "top center",
          end: "bottom center",
          scrub: true,
          // pin: heading,
          // markers: true, // Uncomment for debugging
        },
      }
    );
  }
});
</script>
